.DS_Store

.idea/
*.iml
.vscode/

*.log
coverage/

server/**/bin/
server/**/*.exe
server/**/*.test
server/**/*.out

**/target/
**/*.rs.bk

**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata

node_modules/
dist/

.env
.env.local
.env.*.local
