{
	auto_https disable_redirects
}

slan.localhost {
	tls internal
	reverse_proxy server-biz:8080
}

ops.slan.localhost {
	tls internal
	reverse_proxy server-main:80
}

web.slan.localhost {
	tls internal
	reverse_proxy server-ui-web:80
}

main.slan.localhost {
	tls internal
	reverse_proxy server-main:80
}

https://127.0.0.1 {
	tls internal
	reverse_proxy server-main:80
}

https://localhost {
	tls internal
	reverse_proxy server-main:80
}

http://127.0.0.1 {
	reverse_proxy server-main:80
}

http://localhost {
	reverse_proxy server-main:80
}
